.listings-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.listing-item {
  background-color: #f2f2f2;
  height: 394.02px;
  width: 309.5px;
  border-radius: 12px;
  border: 1px solid #b0b0b0;
  margin-bottom: 150px; 
  align-items: flex-end;
  color: blue;
  /* justify-content: space-between; */
}

.listingsIndex {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}
