.ListingPage {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.listing-photo img {
  height: 385.4px;
  width: 560px;
}

.listing-small-photos img {
  height: 185px;
  width: 272px;
}

.listing-photo {
  display: flex;
  flex-direction: row;
  width: 1120px;
  height: 385px;
}

.listing-small-photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.listing-small-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-left: 10px;
}

.ListingPage h1 {
  font-size: 26px;
  font-weight: 600;
  /* line-height: 30px; */
}
.ListingPage span {
  font-weight: 600;
  text-decoration: underline;
  display: flex;
}

.listing-info {
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 20px;
  font-weight: 1000;
}

.listing-description {
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.25em;
  }


.host-room-info {
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 20px;
  padding-top: 20px;
}


.room-info h3 {
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

.stats {
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 10px;
  border-top: 1px solid #B0B0B0; 
  border-bottom: 1px solid #B0B0B0; 
  box-shadow: none;
}
.details p {
  color: #717171;
}

