.listings-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.listing-item {
  /* height: 394.02px;
  width: 309.5px; */
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 2%;
  align-items: flex-end;
  color: black;
  /* justify-content: space-between; */
}

.listingsIndex {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.photo-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 20%;
  border-radius: 12px;
}

.photo-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.listing-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.listing-item a {
  text-decoration: none;
  color: #222222;
}

.listing-item  span {
  font-weight: 1000;
}
/* .listing-item h3 span {
  font-weight: 600;
} */

.distance-dates {
  color: #717171;
}
.listing-index-layout {
  display: flex;
  height: calc(100vh - 100px);
}

.listingsIndex {
  flex: 1;
  overflow-y: auto;
  padding: 40px 20px 40px 60px;
}

.index-map {
  width: 40%;
  position: sticky;
  top: 0;
  height: calc(100vh - 100px);
  padding: 20px;
}