.profile-dropdown {
  position: relative;
  left: -10px;
  border: 1px solid #B0B0B0;
  border-radius: 7px;
  padding: 10px;
}

.navBar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Manrope", sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #B0B0B0; 
}

.profileDrop {
  position: relative;
  border: 1px solid #B0B0B0;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
}
